.cabecera, .cabecera .barra_principal .buscar .label, .cabecera .barra_principal .buscar .imagen, .page-template-template-homepage .contenido, .page-template-template-homepage .contenido #iconos a, .page-template-template-homepage .contenido #categorias .lista, .page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento, .page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage #page main, #contacto, #contacto .info1 .elemento, #contacto .info_contacto, #contacto .info_contacto .contenedor .enlaces, .cabecera .barra_principal, .cabecera .barra_principal ul, .cabecera .barra_principal ul li, .cabecera .barra_principal ul li a, .cabecera .barra_principal .buscar, .cabecera .barra_menu, .menu_principal, .menu_principal #navbarNav, .menu_principal ul, .page-template-template-homepage .contenido #iconos, .page-template-template-homepage .contenido #categorias .lista .columna, .page-template-template-homepage .contenido #categorias .lista .columna .grupo, #contacto .info1, #contacto .info_contacto .contenedor, #contacto .info_contacto .contenedor .enlaces .grupo, #contacto .info_contacto .contenedor .enlaces .grupo .enlace, #contacto .info_contacto .contenedor .logostarjetas, .site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cabecera, .cabecera .barra_principal .buscar .label, .cabecera .barra_principal .buscar .imagen, .page-template-template-homepage .contenido, .page-template-template-homepage .contenido #iconos a, .page-template-template-homepage .contenido #categorias .lista, .page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento, .page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage #page main, #contacto, #contacto .info1 .elemento, #contacto .info_contacto, #contacto .info_contacto .contenedor .enlaces {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "arl";
  src: url("../fonts/ARLRDBD.TTF") format("truetype");
}

@font-face {
  font-family: "bahn";
  src: url("../fonts/BAHNSCHRIFT 1.TTF") format("truetype");
}

@font-face {
  font-family: "frabk";
  src: url("../fonts/FRABK.TTF") format("truetype");
}

@font-face {
  font-family: "mont-bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mont";
  src: url("../fonts/Montserrat-Medium.ttf") format("tretype");
}

@font-face {
  font-family: "segoe";
  src: url("../fonts/segoe-ui-light-2.ttf") format("truetype");
}

@font-face {
  font-family: "bebas";
  src: url("../fonts/Bebas.otf") format("truetype");
}

@font-face {
  font-family: "myriad";
  src: url("../fonts/MyriadPro-Regular.otf") format("truetype");
}


@font-face {
  font-family: "futura";
  src: url("../fonts/Futura.ttf") format("truetype");
}
.t-white {
  color: #ffffff;
}

.t-black {
  color: #000000;
}

.b-white {
  background-color: #ffffff;
}

.b-black {
  background-color: #000000;
}

.b-blue {
  background-color: #08227f;
}
.t-blue{
  color: #2f5274;
}

.t-black__hover:hover {
  color: #000000;
}

.t-white__hover:hover {
  color: #ffffff;
}

/* 
*******************************************************************************************
-----------------------------------------  generales --------------------------------------   
*******************************************************************************************
*/
.boton-shadow {
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
  /*Sombra leve*/
  border-radius: 2px;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}

.boton-shadow:hover, .boton-shadow:active {
  -webkit-box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.title__section {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
    left: 0% !important;
}

.title__section h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section img {
  width: 16% !important;
  height: 100%;
}

.clase hr {
  width: 100%;
  border-bottom: 5px solid #2f5274;
}


.title__section2 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 19% !important;
  top: 45rem !important;
}

.title__section2 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section2 img {
  width: 14% !important;
  height: 100%;
}

.centrado22{
  position: absolute;
  top: 51% !important;
  left: 6.8% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 3rem !important;
  transform: translate(-50%, -50%);
}




#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


#myVideo2 {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}




#myVideo3 {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}




#myVideo6 {
  position:relative;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


.title__section3 {
  width: 100% !important;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 10% !important;
  top: 30rem !important;
}

.title__section3 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section3 img {
  width: 18% !important;
  height: 100%;
}

.centrado3{
  position: absolute;
  top: 235% !important;
  left: 20.8% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 2.5rem !important;
  transform: translate(-50%, -50%);
}


.centrado3 img{
  width: 35rem !important;
}


.gif1{
  width: 45% !important;
  left: 6% !important; 
  top: 220% !important;
  position: absolute;
}






.title__section4 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 22% !important;
  top: 30rem !important;
}

.title__section4 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section4 img {
  width: 12% !important;
  height: 100%;
}

.centrado4{
  position: absolute;
  top: 245% !important;
  left: 70% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 2.5rem !important;
  transform: translate(-50%, -50%);
  width: max-content;
}

.centrado4 img{
  width: 100rem !important;
}








.title__section5 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 50% !important;
  top: 0rem !important;
}

.title__section5 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section5 img {
  width: 43% !important;
  height: 100%;
}

.centrado5{
  position: absolute;
  top: 363% !important;
  left: 50% !important;
  width: max-content;
  color: #08227f;
  font-family: bebas;
  font-size: 2.5rem !important;
  transform: translate(-50%, -50%);
}

.centrado5 img{
  width: 135rem !important;
}












.title__section6 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 19% !important;
  top: 18rem !important;
}

.title__section6 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section6 img {
  width: 67% !important;
  height: 100%;
}

.centrado6{
  position: absolute;
  top: 51% !important;
  left: 5.8% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 2.5rem !important;
  transform: translate(-50%, -50%);
}






.title__section7 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 15% !important;
  top: -4rem !important;
}

.title__section7 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section7 img {
  width: 70% !important;
  height: 100%;
}



.title__section8 {
  width: 100%;
  position: relative;
    display: inline-block;
    text-align: center;
  left: 34% !important;
  top: 18rem !important;
}

.title__section8 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section8 img {
  width: 33% !important;
  height: 100%;
}

.centrado8{
  position: absolute;
  top: 51% !important;
  left: 6.8% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 3rem !important;
  transform: translate(-50%, -50%);
}


#recientes{
  overflow: hidden !important ;
}
body {
  /* font-family: Arial; */
  font-family: "Montserrat";
}

#masthead {
  display: none;
}

.storefront-product-section {
  display: none;
}


.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
}
.centrado{
  position: absolute;
  top: 51%;
  left: 7.8% !important;
  color: #08227f;
  font-family: bebas;
  font-size: 3.5rem !important;
  transform: translate(-50%, -50%);
}

/* 
*******************************************************************************************
-----------------------------------------  header -----------------------------------------   
*******************************************************************************************
*/
.cabecera {
  width: 100%;
  background-color: black;
  /*background-image: url(../images/header.jpg);
  background-size: 100% 100%;*/
}

.cabecera .barra_principal {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #061a7a;
  background-image: url(../images/inicioinicio.png);
  background-size: 100% 100%;
  padding: 1rem 0.5rem;
}

.cabecera .barra_principal ul {
  list-style: none;
  margin: 0;
  height: 2rem;
}

.cabecera .barra_principal ul li {
  
  height: 100%;
  padding: 1.5rem 0.5rem;
}

.cabecera .barra_principal ul li a {
  margin: 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  text-transform: uppercase;
  font-family: "segoe";
  text-decoration: none;
}

.cabecera .barra_principal ul li a img {
  margin-right: 0.4rem;
  width: 2rem;
}

.cabecera .barra_principal ul li:last-child {
  border-right: none;
}

.cabecera .barra_principal ul li:hover a {
  color: rgba(255, 255, 255, 0.726);
}

.cabecera .barra_principal .buscar {
  width: 100%;
}

.cabecera .barra_principal .buscar .label {
  background-color: white;
  height: 2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 0.7rem;
  text-transform: uppercase;
  color: gray;
  filter: alpha(opacity=50);
}

.cabecera .barra_principal .buscar form {
  margin-bottom: 0;
  width: 60%;
}

.cabecera .barra_principal .buscar input {
  text-transform: none;
  width: 100%;
  height: 2rem;
  background-color: white;
}

.cabecera .barra_principal .buscar .imagen {
  height: 2rem;
  border-radius: 25px;
  background-color: white;
  margin-left: -1.5rem;
}

.cabecera .barra_principal .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cabecera .barra_principal .logo {
  width: 20%;
  padding: 1rem;
}

.cabecera .barra_principal .logo img {
  width: 100%;
}




  .table td, .table th {
    padding: 0rem !important;
    width: 18%;
}

table{
  margin-left: 7% !important;
  background-color: transparent;
}



.imagenez{
  
}

.imagenez img{
  min-width: 10rem;
  min-height: 10rem;
}




.contenedor2{
    position: relative;
    display: inline-block;
    text-align: center;
}

.contenedor2 img{
  width: 19rem;
  height: 5rem;
}
 
.texto-encima2{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centrado2 form input{
  opacity: 10%;
  color: #000000;
}



.cabecera .barra_menu {
}

.cabecera .barra_menu .logo {
  width: 48% !important;
  padding: 1rem;
}

.cabecera .barra_menu .logo img {
  width: 100%;
}

.cabecera .barra_menu .menu_principal {
  width:115% !important;
  padding-right: 47rem !important;

}





#primary.content-area{
  margin: 0px;
}

#main.site-main{
  margin: 0px;
  background-color: black;
}
.cabecera .barra_menu .buscar .imagen {
  height: 2rem;
  border-radius: 25px;
  background-color: white;
  margin-left: -1.5rem;
}

.cabecera .barra_menu .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}


.menu_principal ul {
  margin: 0;
}

.menu_principal ul li {
  text-decoration: none;
  list-style: none;
  padding: 0rem 1rem;
  text-transform: uppercase;
}

.menu_principal ul li a {
  color: #ffffff;
  font-family: "futura";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 2.6rem !important;
}

.menu_principal ul li:hover a {
  color: black;
}


.nav-social{
  position: absolute;
  right: 24% !important;
  top: 12% !important;
  padding: 1rem;
  display: flex;
}
.nav-social img{
  height: 4.5rem !important;
}


.nav-social2{
  position: absolute;
  right: 2% !important;
  top: 570% !important;
  padding: 1rem;
  display: flex;
}
.nav-social2 img{
  height: 4rem !important;
}


.navbar-nav {
  display: contents;
}


/* 
*******************************************************************************************
--------------------------------------  contenido -----------------------------------------   
*******************************************************************************************
*/
.page-template-template-homepage .contenido {
  width: 100%;
}

.page-template-template-homepage .contenido #inicio {
  width: 100%;
}

.page-template-template-homepage .contenido #inicio img {
  width: 100%;
}

.page-template-template-homepage .contenido #iconos {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  margin-top: 2rem;
}

.page-template-template-homepage .contenido #iconos a {
  height: 10rem;
  width: 10rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "arl";
  color: #061a7a;
  line-height: 100%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-template-template-homepage .contenido #iconos a img {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.page-template-template-homepage .contenido #iconos a:hover {
  background-color: #d8d6d6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage .contenido #categorias {
  margin-top: 2rem;
  width: 100%;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento {
  width: 10rem;
  margin: 1rem;
  padding: 2rem;
  text-transform: uppercase;
  font-family: "arl";
  color: #061a7a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento img {
  height: 5rem;
  margin-bottom: 1rem;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento .varios {
  padding: 2rem 0;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento .vehiculos {
  height: auto;
  padding: 1rem 0;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento:hover {
  background-color: #d8d6d6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-template-template-homepage .contenido #lomasvendido .productos, .page-template-template-homepage .contenido #nuevasofertas .productos {
  width: 95%;
  margin-top: 2rem;
  font-family: "arl";
}

.page-template-template-homepage .contenido #lomasvendido .productos .add_to_cart_button, .page-template-template-homepage .contenido #nuevasofertas .productos .add_to_cart_button {
  display: none;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link {
  position: relative;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .onsale, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .onsale {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .star-rating, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .star-rating {
  display: none;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .price, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .price {
  color: #061a7a;
  font-weight: bolder;
  font-size: 1.3rem;
}

.page-template-template-homepage #page .storefront-breadcrumb {
  display: none !important;
}

.page-template-template-homepage #page main {
  padding-top: 0;
}

.page-template-template-homepage #page main #post-5 {
  display: none;
}

.page-template-template-homepage #content .col-full {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.full{
  width: max-content;
}

#conta{
  background-image: url('../images/footer(2).png') !important;
  background-size: 100% 100%;
  min-height: 22rem !important;
}


#marcas{
  background-image: url('../images/exportados-16.png') !important;
  background-size: 100% 100%;
  min-height: 26rem !important;
}


#nuevasofertas {
  padding-top: 5%;
}


#celulares{
  background-image: url('../images/original.png') !important;
  background-size: 100% 100%;
  min-height: 155rem !important;
  
}





#inicio{
  background-image: url('../images/inicio9.png') !important;
  background-size: 100% 100%;
  min-height: 60rem !important;
}


#about{
  background-image: url('../images/fondonormal2.png') !important;
  background-size: 100% 100%;
  min-height: 70rem !important;
  background-color: white;
}


#smart{
  background-image: url('../images/fondosmart2.png') !important;
  background-size: 100% 100%;
  min-height: 90rem !important;
  background-color: white;
}

#proyectos{
  background-image: url('../images/proyectos.png') !important;
  background-size: 100% 100%;
  min-height: 65rem !important;
}

#cliente{
  background-image: url('../images/capanegranc.png') !important;
  background-size: 100% 100%;
  min-height: 110rem !important;
  background-color: white;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}



#contacto2{
  background-image: url('../images/contactanos.png') !important;
  background-size: 100% 100%;
  min-height: 50rem !important;
}

/* 
*******************************************************************************************
-----------------------------------------  footer -----------------------------------------   
*******************************************************************************************
*/
#contacto {
  background-image: url(../images/exportado-292.png);
  background-size: 100% 100%;
  font-family: "mont";
  position: relative;
  min-width: 200px;
}

#contacto .garantia {
  position: absolute;
  width: 5rem;
  top: -2.5rem;
  right: 4rem;
}

#contacto .info1 .elemento {
  width: 20%;
  margin: 3%;
  font-family: "Montserrat";
  color: black;
  font-size: 0.9rem;
}

#contacto .info1 .elemento strong {
  width: 100%;
  margin: 1rem 0;
}

#contacto .info1 .elemento img {
  height: 4rem;
}

#contacto .info_contacto {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-family: "Montserrat";
  margin-bottom: 1rem;
  
}

#contacto .info_contacto h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 2rem;
  color: #ffffff;
}

#contacto .info_contacto .contenedor {
  width: 100%;
}

#contacto .info_contacto .contenedor .enlaces {
  width: 60%;
}

#contacto .info_contacto .contenedor .enlaces .grupo .enlace {
  width: 50%;
  margin: 0.55rem;
  color: white;
}

#contacto .info_contacto .contenedor .enlaces .grupo .enlace img {
  width: 2.5rem;
  margin-right: 1rem;
}

#contacto .info_contacto .contenedor .logostarjetas {
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#contacto .info_contacto .contenedor .logostarjetas img {
  width: 5rem;
  margin: 1rem;
}

/* para el footer */
.site-footer {
  padding: 0rem;
  background-color: white;
}

.site-info {
  padding: 0rem;
  margin: 0rem;
  font-family: "Montserrat";
  background-color: #08227f;
}

.color td{
  background-color: white;
}

footer .col-full {
  max-width: inherit;
  padding: 0rem;
  width: 100%;
  margin: 0rem;
}

.division{
  display: flex !important;
}


/*@media (max-width: 2300px) {
  .centrado{
    font-size: 3rem !important;
  }
  #conta{
    min-height: 31rem !important;
  }
}


@media (max-width: 2000px) {
  .cabecera .barra_menu .menu_principal {
    width: 52% !important;
  }
  
  .menu_principal ul li a {
    font-size: 1.5rem !important;
  }
  
  .nav-social{
    top: 3% !important;
  }

  .centrado{
    font-size: 2.7rem !important;
  }

  #conta{
    min-height: 25rem !important;
  }

}
@media (max-width: 1800px) {

  .title__section7 {
    top: 94rem !important;
  }

}


@media (max-width: 1730px) {

  .nav-social{
    top: 8% !important;
  }

  #celulares{
    min-height: 140rem !important;
    
  }
  .title__section2 {
    top: 41rem !important;
  }
  .title__section3 {
    top: 85rem !important;
  }
  .title__section4 {
    top: 115rem !important;
  }
  .title__section5 {
    top: 6rem !important;
  }
  .title__section6 {
    top: 36rem !important;
  }
  .title__section7 {
    top: 84rem !important;
  }
  #marcas{
    min-height: 23rem !important;
  }

  #conta{
    min-height: 40rem !important;
  }

}


@media (max-width: 1600px) {

  #conta{
    min-height: 37rem !important;
  }

}



@media (max-width: 1550px) {
  #celulares{
    min-height: 125rem !important;
    
  }
  .centrado22{
    left: 6% !important;
    font-size: 2.5rem !important;
  }
  .title__section2 img {
    width: 12% !important;
  }
  .title__section2 {
    top: 36rem !important;
    left: 20% !important;
  }
  .title__section3 {
    top: 77rem !important;
  }
  .title__section4 {
    top: 103rem !important;
  }
  .title__section5 {
    top: 6rem !important;
  }
  .title__section6 {
    top: 33rem !important;
  }
  .centrado7{
    left: 6% !important;
    font-size: 2.5rem !important;
  }
  .title__section7 img {
    width: 12% !important;
  }
  .title__section7 {
    top: 75rem !important;
    left: 70% !important;
  }
  #marcas{
    min-height: 20rem !important;
  }

}*/
@media (max-width: 2560px) {

  .menu_principal ul li a {
    font-size: 2rem !important;
}

.nav-social {
  right: 24% !important;
  top: 15% !important;
}
  
.cabecera .barra_menu .menu_principal {
  padding-right: 47rem !important;
}

.cabecera .barra_menu .logo {
  width: 42% !important;
}

.nav-social img {
  height: 4rem !important;
}








#about{
  min-height: 65rem !important;
}

.title__section3 {
  left: 10% !important;
  top: 28rem !important;
}

.title__section3 img {
  width: 18% !important;
  height: 100%;
}


.title__section4 {
  left: 23% !important;
  top: 28rem !important;
}

.title__section4 img {
  width: 10% !important;
  height: 100%;
}

.title__section5 {
  left: 50% !important;
  top: 4rem !important;
}

.title__section5 img {
  width: 40% !important;
  height: 100%;
}











#smart {
  min-height: 85rem !important;
}

.title__section6 {
  left: 18% !important;
  top: 20rem !important;
}

.title__section6 img {
  width: 65% !important;
  height: 100%;
}


#proyectos {
  min-height: 55rem !important;
}


#cliente {
  min-height: 90rem !important;
}

#conta {
  min-height: 18rem !important;
}

}




@media (max-width: 1920px) {

  .menu_principal ul li a {
    font-size: 1.7rem !important;
}

.nav-social {
  right: 12% !important;
  top: 6% !important;
}
  
.cabecera .barra_menu .menu_principal {
  padding-right: 30rem !important;
}

.cabecera .barra_menu .logo {
  width: 20% !important;
}

.nav-social img {
  height: 2.5rem !important;
}








#about{
  min-height: 40rem !important;
}

.title__section3 {
  left: 10% !important;
  top: 19rem !important;
}

.title__section3 img {
  width: 18% !important;
  height: 100%;
}


.title__section4 {
  left: 23% !important;
  top: 19rem !important;
}

.title__section4 img {
  width: 10% !important;
  height: 100%;
}

.title__section5 {
  left: 50% !important;
  top: -2rem !important;
}

.title__section5 img {
  width: 40% !important;
  height: 100%;
}







#smart {
  min-height: 60rem !important;
}

.title__section6 {
  left: 18% !important;
  top: 13rem !important;
}

.title__section6 img {
  width: 65% !important;
  height: 100%;
}


#proyectos {
  min-height: 40rem !important;
}


#cliente {
  min-height: 70rem !important;
}

.title__section8 {
  left: 34% !important;
  top: 13rem !important;
}

.title__section8 img {
  width: 33% !important;
  height: 100%;
}

.title__section7 {
  left: 15% !important;
  top: -4rem !important;
}

.title__section7 img {
  width: 70% !important;
  height: 100%;
}



#conta {
  min-height: 15rem !important;
}

}

@media (max-width: 1700px) {

  .menu_principal ul li a {
    font-size: 1.7rem !important;
}

.cabecera .barra_menu .menu_principal {
  padding-right: 17rem !important;
}
  .nav-social {
    right: 12% !important;
    top: 6% !important;
}

.title__section5 {
  left: 50% !important;
  top: 1rem !important;
}

.title__section6 {
    left: 18% !important;
    top: 15rem !important;
}
.title__section7 {
  left: 15% !important;
  top: -1rem !important;
}
}

@media (max-width: 1600px) {

  .menu_principal ul li a {
    font-size: 1.5rem !important;
  }
  
  .nav-social {
    right: 12% !important;
    top: 6% !important;
  }

  #about{
    min-height:35rem !important;
  }

  .title__section3 {
    left: 10% !important;
    top: 16rem !important;
  }
  
  .title__section3 img {
    width: 18% !important;
    height: 100%;
  }
  
  
  .title__section4 {
    left: 23% !important;
    top: 16rem !important;
  }
  
  .title__section4 img {
    width: 10% !important;
    height: 100%;
  }
  
  .title__section5 {
    left: 50% !important;
    top: 0rem !important;
  }
  
  .title__section5 img {
    width: 35% !important;
    height: 100%;
  }

  #smart {
    min-height: 50rem !important;
  }

  .title__section6 {
    left: 18% !important;
    top: 12rem !important;
  }
  
  .title__section6 img {
    width: 59% !important;
    height: 100%;
  }

  #proyectos {
    min-height: 35rem !important;
  }
    
  #cliente {
    min-height: 58rem !important;
  }
    
  #conta {
    min-height: 13rem !important;
  }
}

@media (max-width: 1440px) {

  .menu_principal ul li a {
    font-size: 1.3rem !important;
  }
  
  .nav-social {
  right: 12% !important;
  top: 11% !important;
  }
  
  .cabecera .barra_menu .menu_principal {
  padding-right: 20rem !important;
  }
  
  .cabecera .barra_menu .logo {
  width: 40% !important;
  }
  
  .nav-social img {
  height: 2rem !important;
  }
  

  #about{
    min-height:35rem !important;
  }

  .title__section3 {
    left: 10% !important;
    top: 16rem !important;
  }
  
  .title__section3 img {
    width: 20% !important;
    height: 100%;
  }
  
  
  .title__section4 {
    left: 23% !important;
    top: 16rem !important;
  }
  
  .title__section4 img {
    width: 12% !important;
    height: 100%;
  }
  
  .title__section5 {
    left: 50% !important;
    top: -1rem !important;
  }
  
  .title__section5 img {
    width: 42% !important;
    height: 100%;
  }

  #smart {
    min-height: 50rem !important;
  }

  .title__section6 {
    left: 14% !important;
    top: 11rem !important;
  }
  
  .title__section6 img {
    width: 72% !important;
    height: 100%;
  }
  
  #proyectos {
    min-height: 35rem !important;
  }
    
  #cliente {
    min-height: 58rem !important;
  }
    
  #conta {
    min-height: 13rem !important;
  }

  #proyectos {
    min-height: 32rem !important;
  }
    
    
  #cliente {
    min-height: 55rem !important;
  }
    
  #conta {
    min-height: 11rem !important;
  }
  .title__section8 {
    left: 34% !important;
    top: 11rem !important;
}
}

@media (max-width: 1300px) {

  .menu_principal ul li a {
    font-size: 1.1rem !important;
  }
  
  .nav-social {
  right: 14% !important;
  top: 9% !important;
  }
  
  .cabecera .barra_menu .menu_principal {
  padding-right: 19rem !important;
  }
  
  .cabecera .barra_menu .logo {
  width: 40% !important;
  }
  
  .nav-social img {
  height: 2rem !important;
  }

  #about{
    min-height:25rem !important;
  }

  .title__section3 {
    left: 10% !important;
    top: 13rem !important;
  }
  
  .title__section3 img {
    width: 20% !important;
    height: 100%;
  }
  
  
  .title__section4 {
    left: 23% !important;
    top: 13rem !important;
  }
  
  .title__section4 img {
    width: 12% !important;
    height: 100%;
  }
  
  .title__section5 {
    left: 50% !important;
    top: -2rem !important;
  }
  
  .title__section5 img {
    width: 42% !important;
    height: 100%;
  }

  #smart {
    min-height: 45rem !important;
  }

  .title__section6 {
    left: 14% !important;
    top: 9.5rem !important;
  }
  
  .title__section6 img {
    width: 72% !important;
    height: 100%;
  }

  #proyectos {
    min-height: 29rem !important;
  }
    
    
  #cliente {
    min-height: 49rem !important;
  }
    
  #conta {
    min-height: 10rem !important;
  }

  .title__section8 {
    left: 34% !important;
    top: 10rem !important;
}

}


@media (max-width: 1100px) {

  .nav-social {
    right: 14% !important;
    top: 7% !important;
}

  #about{
    min-height:25rem !important;
  }

  .title__section3 {
    left: 10% !important;
    top: 13rem !important;
  }
  
  .title__section3 img {
    width: 20% !important;
    height: 100%;
  }
  
  
  .title__section4 {
    left: 23% !important;
    top: 13rem !important;
  }
  
  .title__section4 img {
    width: 12% !important;
    height: 100%;
  }
  
  .title__section5 {
    left: 50% !important;
    top: -2rem !important;
  }
  
  .title__section5 img {
    width: 42% !important;
    height: 100%;
  }

  #smart {
    min-height: 45rem !important;
  }

  .title__section6 {
    left: 11% !important;
    top: 10.5rem !important;
  }
  
  .title__section6 img {
    width: 78% !important;
    height: 100%;
  }

  #proyectos {
    min-height: 25rem !important;
  }
    
    
  #cliente {
    min-height: 45rem !important;
  }
    
  #conta {
    min-height: 9rem !important;
  }

  .title__section7 {
    left: 15% !important;
    top: 1rem !important;
}
}



@media (max-width: 768px) {


  .cabecera .barra_menu .logo {
    width: 45% !important;
}
  .nav-social{
    display: none !important;
  }
 
  
  
  #about{
    min-height: 15rem !important;
  }
  
  .title__section3 {
    left: 10% !important;
    top: 8rem !important;
  }
  
  .title__section3 img {
    width: 20% !important;
    height: 100%;
  }
  
  
  .title__section4 {
    left: 23% !important;
    top: 8rem !important;
  }
  
  .title__section4 img {
    width: 12% !important;
    height: 100%;
  }
  
  .title__section5 {
    left: 50% !important;
    top: -1rem !important;
  }
  
  .title__section5 img {
    width: 42% !important;
    height: 100%;
  }

  #smart{
    min-height: 30rem !important;
  }
  
  .title__section6 {
    left: 11% !important;
    top: 6.5rem !important;
  }
  
  .title__section6 img {
    width: 78% !important;
    height: 100%;
  }
  #proyectos{
    min-height: 18rem !important;
  }
  
  #cliente{
    min-height: 30rem !important;
  }
  

  #conta{
    min-height: 6rem !important;
  }

  .title__section8 {
    left: 34% !important;
    top: 5rem !important;
  }
  .title__section7 {
    left: 15% !important;
    top: -1rem !important;
  }

}


@media (max-width: 414px) {

  .storefront-handheld-footer-bar {
    display: none !important;
  }
  
  
  
  #about{
    background-image: url('../images/fondores.png') !important;
    background-size: 100% 100%;
    min-height: 20rem !important;
  }
  .title__section3 {
    left: 30% !important;
    top: 2rem !important;
  }
  
  .title__section3 img {
    width: 40% !important;
    height: 100%;
  }
  
  
  .title__section4 {
    left: 40.5% !important;
    top: 2rem !important;
  }
  
  .title__section4 img {
    width: 27% !important;
    height: 100%;
  }
  
  .title__section5 {
    left: 13% !important;
    top: 3rem !important;
  }
  
  .title__section5 img {
    width: 76% !important;
    height: 100%;
  }
  
  #smart{
    min-height: 20rem !important;
  }

  .title__section6 {
    left: 5% !important;
    top: 5rem !important;
  }
  
  .title__section6 img {
    width: 90% !important;
    height: 100%;
  }
  #proyectos{
    min-height: 10rem !important;
  }
  
  #cliente{
    min-height: 16rem !important;
    background-attachment: unset !important;
    background-position:  unset!important;
    background-repeat: unset !important;
  }
  

  #conta{
    min-height: 3rem !important;
  }


  .title__section7 {
    left: 15% !important;
    top: -0.5rem !important;
}

.title__section8 {
  left: 34% !important;
  top: 3rem !important;
}
}



/*@media (max-width: 1400px) {
  .nav-social{
    top: 6% !important;
  }
  #celulares{
    min-height: 110rem !important;
    
  }
  .title__section2 {
    top: 33rem !important;
  }
  .title__section3 {
    top: 68rem !important;
  }
  .title__section4 {
    top: 91rem !important;
  }
  .title__section5 {
    top: 5rem !important;
  }
  .title__section6 {
    top: 28rem !important;
  }
  .title__section7 {
    top: 66rem !important;
  }
  #conta{
    min-height: 33rem !important;
  }

}


@media (max-width: 1330px) {

  #marcas{
    min-height: 18rem !important;
  }
  .title__section {
      left: 2% !important;
  }

  #conta{
    min-height: 31rem !important;
  }

}


@media (max-width: 1250px) {

  #celulares{
    min-height: 95rem !important;
  }

  .centrado22{
    font-size: 2rem !important;
  }

  .centrado3{
    font-size: 2rem !important;
  }
  .centrado4{
    font-size: 2rem !important;
  }
  .centrado5{
    font-size: 2rem !important;
  }
  .centrado6{
    font-size: 2rem !important;
  }
  .centrado7{
    font-size: 2rem !important;
  }

  .title__section2 {
    top: 28rem !important;
  }
  .title__section3 {
    top: 59rem !important;
  }
  .title__section4 {
    top: 78rem !important;
  }
  .title__section5 {
    top: 4rem !important;
  }
  .title__section6 {
    top: 24rem !important;
  }
  .title__section7 {
    top: 56rem !important;
  }

}

@media (max-width: 1150px) {

  .nav-social img{
    height: 4rem !important;
  }
  .nav-social{
    right: 27% !important;
    top: 5% !important;
  }

  .title__section7 {
    top: 57rem !important;
  }
  #marcas{
    min-height: 16rem !important;
  }
  #conta{
    min-height: 27rem !important;
  }

}



@media (max-width: 1100px) {

  .nav-social img{
    height: 3.5rem !important;
  }

  .title__section5 {
    top: 5rem !important;
  }
  .title__section6 {
    top: 25rem !important;
  }

}


@media (max-width: 1032px) {

  .title__section7 {
    top: 58rem !important;
  }

}
@media (max-width: 992px) {

  .menu_principal ul li a {
    font-size: 0.9rem !important;
  }

  .nav-item{
    padding-right: 40rem !important;
  }

  .nav-social{
    right: 8% !important;
  }
  .centrado{
    font-size: 1.1rem !important;
  }
  #conta{
    min-height: 13rem !important;
  }

  .contenedor2{
    display: none;
  }
}


@media (max-width: 991px) {

  .nav-social{
    right: 8% !important;
    visibility: hidden !important;
  }
  .division{
    display: none !important;
  }
  .cabecera .barra_menu .logo {
    width: 14% !important;
  }
  .table td, .table th {
    padding: .75rem !important;
}

table{
  margin-left: 0% !important;
  background-color: transparent;
}
}


@media (max-width: 875px) {
  #conta{
    min-height: 12rem !important;
  }

}




@media (max-width: 768px) {
 
  .cabecera .barra_menu .logo img {
    width: 100% !important;
  }
  .cabecera .barra_menu .logo {
    width: 21% !important;
  }
  #celulares{
    min-height: 65rem !important;
  }

  .centrado22{
    font-size: 1.3rem !important;
  }

  .centrado3{
    font-size: 1.3rem !important;
  }
  .centrado4{
    font-size: 1.3rem !important;
  }
  .centrado5{
    font-size: 1.3rem !important;
  }
  .centrado6{
    font-size: 1.3rem !important;
  }
  .centrado7{
    font-size: 1.3rem !important;
  }

  .title__section2 {
    top: 19rem !important;
  }
  .title__section3 {
    top: 40rem !important;
  }
  .title__section4 {
    top: 54rem !important;
  }
  .title__section5 {
    top: 3rem !important;
  }
  .title__section6 {
    top: 17rem !important;
  }
  .title__section7 {
    top: 39rem !important;
  }

  #marcas{
    min-height: 10rem !important;
  }

  .centrado{
    font-size: 2.5rem !important;
  }

  #conta{
    min-height: 18rem !important;
  }
}




@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 5rem;
  }
  .page-template-template-homepage .contenido #categorias .lista .columna {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .info_contacto .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .info_contacto .contenedor .enlaces, #contacto .info_contacto .contenedor .logostarjetas {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #conta{
    background-image: url('../images/footer22.png') !important;
    min-height: 24rem !important;
  }
  .title__section img {
    width: 25% !important;
  }
  .centrado{
    font-size: 1.5rem !important;
    left: 12% !important;
  }
  .cabecera .barra_menu .logo {
    width: 18% !important;
}
}



@media (max-width: 414px) {
 
  .cabecera .barra_menu .logo {
    width: 25% !important;
  }
  #celulares{
    min-height: 35rem !important;
  }

  .centrado22{
    font-size: 0.8rem !important;
  }

  .centrado3{
    font-size: 0.8rem !important;
  }
  .centrado4{
    font-size: 0.8rem !important;
  }
  .centrado5{
    font-size: 0.8rem !important;
  }
  .centrado6{
    font-size: 0.8rem !important;
  }
  .centrado7{
    font-size: 0.8rem !important;
  }

  .title__section2 {
    top: 11rem !important;
  }
  .title__section3 {
    top: 22rem !important;
  }
  .title__section4 {
    top: 29rem !important;
  }
  .title__section5 {
    top: 1.5rem !important;
  }
  .title__section6 {
    top: 9.5rem !important;
  }
  .title__section7 {
    top: 20rem !important;
  }

  #marcas{
    min-height: 6rem !important;
  }

  .centrado{
    font-size: 1.9rem !important;
  }

  #conta{
    min-height: 17rem !important;
  }
}


@media (max-width: 375px) {
 

  .centrado22{
    font-size: 0.7rem !important;
  }

  .centrado3{
    font-size: 0.7rem !important;
  }
  .centrado4{
    font-size: 0.7rem !important;
  }
  .centrado5{
    font-size: 0.7rem !important;
  }
  .centrado6{
    font-size: 0.7rem !important;
  }
  .centrado7{
    font-size: 0.7rem !important;
  }


}*/
/*@media (max-width: 667px) {
  #conta{
    min-height: 22rem !important;
  }
  .centrado{
    font-size: 1.3rem !important;
  }
}

@media (max-width: 567px) {
  #conta{
    min-height: 19rem !important;
  }
  .centrado{
    font-size: 1.1rem !important;
  }
}

@media (max-width: 480px) {
  #conta{
    min-height: 16rem !important;
  }
  .centrado{
    font-size: 1rem !important;
  }
  .cabecera .barra_menu .logo {
    width: 20% !important;
  }
}

@media (max-width: 400px) {
  #conta{
    min-height: 14rem !important;
  }
  .centrado{
    font-size: 0.8rem !important;
  }
}*/


/*# sourceMappingURL=tech.css.map */